/* ================= GLOBAL ================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ===== Premium Animated Space Background ===== */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

/* Deep Space Base */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(ellipse at bottom, #0f2027 0%, #000000 100%);
  z-index: -3;
}

/* Moving Stars Layer */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  opacity: 0.4;
  animation: moveStars 120s linear infinite;
  z-index: -2;
}

/* Extra Smooth Glow Layer */
.stars-overlay {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at 20% 30%, rgba(0, 255, 255, 0.15), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(255, 0, 150, 0.15), transparent 40%);
  z-index: -1;
  animation: floatGlow 10s ease-in-out infinite alternate;
}

/* Star Movement */
@keyframes moveStars {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 5000px;
  }
}

/* Glow Floating */
@keyframes floatGlow {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-20px);
  }
}

/* ================= HEADER ================= */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #487dfb;
  position: sticky;
  color: white;
  top: 0;
  z-index: 1000;
  border-bottom: 4px solid yellow;
}

/* Logo left */
.logo {
  font-size: 30px;
  font-weight: 600;
  color: yellow;
}

/* Desktop Nav */
.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav ul li {
  cursor: pointer;
  transition: 0.3s ease;
}

.nav ul li:hover {
  color: #000;
}


.hamburger {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 3px;
  transition: all 0.4s ease;
}

/* OPEN STATE (X shape) */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* MOBILE ONLY */
@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background: #1e293b;
    padding-top: 100px;
    transition: 0.4s ease;
  }

  .nav.active {
    right: 0;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

/* ================= ABOUT SECTION ================= */

.about {
  padding: 120px 80px;

}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
}

/* IMAGE */
.about-image img {
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(136, 181, 226, 0.4);
  transition: 0.4s ease;
  border: 4px solid aqua;
}

.about-image img:hover {
  transform: scale(1.05);
}

/* TEXT */
.about-content {
  max-width: 500px;
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #38bdf8;
}

.about-content p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #cbd5e1;
}

/* BUTTON */
.about-btn {
  margin-top: 15px;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: #38bdf8;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.about-btn:hover {
  background: white;
  transform: translateY(-3px);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 250px;
  }

}

/* ================= SECTIONS ================= */

section {
  padding: 120px 80px;
  min-height: 100vh;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
}

section h2::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #38bdf8;
  position: absolute;
  bottom: -10px;
  left: 0;
}

/* ================= BANNER ================= */

.banner {
  width: 100%;
  height: 100vh;
  /* full screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://plus.unsplash.com/premium_photo-1770876284693-21ae221757ed?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  background-size: cover;
  /* image full cover */
  background-position: center;
  /* center image */
  background-repeat: no-repeat;
  color: white;
  animation: slideRight 5s ease forwards;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.banner h2 {
  margin-top: 15px;
  font-size: 24px;
  color: yellow;
}


.banner p {
  font-size: 20px;
  color: #cbd5e1;
}

/* ================= PROJECTS ================= */

/* ================= PROJECTS SECTION ================= */

.projects {
  padding: 120px 80px;

  text-align: center;
}

.projects h2 {
  font-size: 36px;
  margin-bottom: 50px;
  color: #38bdf8;
}

/* Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

/* Card */
.project-card {
  animation: slideLeft 5s ease forwards;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.4s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: 2px solid aqua;
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Image */
.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: 0.4s ease;
}

/* Text */
.project-card h3 {
  margin: 15px 0 10px;
  color: aqua;
}

.project-card p {
  padding: 0 15px 20px;
  font-size: 14px;
  color: #cbd5e1;
}

/* Hover Effect */
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(56, 189, 248, 0.3);
}

.project-card:hover img {
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
  .projects {
    padding: 80px 30px;
  }
}


.skills {
  padding: 120px 80px;

  text-align: center;
}

.skills h2 {
  font-size: 36px;
  margin-bottom: 50px;
  color: #38bdf8;
}

/* Grid Layout */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;

}

/* Skill Card */
.skill-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;

  border: 1px solid aqua;
animation: slideRight 4s ease forwards;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.banner h2 {
  margin-top: 15px;
  font-size: 24px;
  color: yellow;
}

/* Hover Effect */
.skill-card:hover {
  background: #38bdf8;
  color: black;
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
}

/* Responsive */
@media (max-width: 768px) {
  .skills {
    padding: 80px 30px;
  }
}

.blogs {
  padding: 120px 80px;

  text-align: center;
}

.blogs h2 {
  font-size: 36px;
  margin-bottom: 60px;
  color: #38bdf8;
}

/* Container */
.blogs-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Card */
.blog-card {
  background: black;
  width: 350px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.4s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  border: 2px solid aqua;
   animation: slideTop 5s ease forwards;
}
@keyframes slideTop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Image */
.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.4s ease;
}

/* Content */
.blog-content {
  padding: 20px;
}

.blog-content h3 {
  margin-bottom: 10px;
}

.blog-content p {
  font-size: 14px;
  color: #cbd5e1;
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Button */
.blog-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: #38bdf8;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.blog-btn:hover {
  background: white;
  transform: translateY(-3px);
}

/* Hover Effect */
.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(56, 189, 248, 0.3);
}

.blog-card:hover img {
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
  .blogs {
    padding: 80px 30px;
  }

  .blog-card {
    width: 100%;
  }
}

.contact {
  padding: 120px 80px;

}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

/* Left Image */
.contact-left img {
  width: 450px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease;
  border: 4px solid aqua;
}


.contact-left img:hover {
  transform: scale(1.05);
}

/* Right Form */
.contact-right {
  flex: 1;
  min-width: 300px;
}

.contact-right h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #38bdf8;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: black;
  color: white;
  font-size: 14px;
  outline: none;
  border: 2px solid aqua;
  transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 10px #38bdf8;
}

/* Button */
.contact-form button {
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #38bdf8;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: white;
  transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 768px) {
  .contact {
    padding: 80px 30px;
  }

  .contact-container {
    flex-direction: column;
    text-align: center;
  }
}

.footer {

  color: #cbd5e1;
  padding: 80px 80px 30px;



}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

/* Section */
.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  margin-bottom: 20px;
  color: #38bdf8;
}

/* Links */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #38bdf8;
  padding-left: 5px;
}

/* Social Icons */
.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  font-size: 20px;
  color: #cbd5e1;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #38bdf8;
  transform: scale(1.2);
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #1f2937;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    padding: 60px 30px 20px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}


.footer {

  color: #cbd5e1;
  padding: 80px 80px 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

/* Section */
.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  margin-bottom: 20px;
  color: #38bdf8;
}

/* Links */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #38bdf8;
  padding-left: 5px;
}

/* Social Icons */
.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  font-size: 20px;
  color: yellow;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #38bdf8;
  transform: scale(1.2);
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #1f2937;
  font-size: 14px;
}

.Hr-line {
  width: 100%;
  height: 4px;
  margin: 50px auto;
  border: none;
  border-radius: 50px;

  background: linear-gradient(
    90deg,
    #ff6b6b,
    #feca57,
    #48dbfb,
    #1dd1a1,
    #5f27cd
  );
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    padding: 60px 30px 20px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
